.container {
  width: 730px;
  background-color: rgb(4, 23, 43);
  color: white;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 100px / 120px;
  margin-bottom: 10px;
}

.info {
  display: flex;
}

.avatar {
  border-radius: 50%;
  width: 70px;
  margin: 15px 15px 0;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.author-name {
  font-size: 20px;
  font-weight: bold;
}

.author-nickname {
  padding-left: 10px;
  color: rgb(110, 127, 141);
}

.image {
  width: 600px;
  border-radius: 20px;
  margin: 0px 20px 20px 95px;
}
